:root {
    --backBlue: rgb(60, 212, 223);
    --backDarkBlue: rgb(107, 136, 231);
    --backViolet: rgb(226, 123, 226);
} 

body {
    margin: 0;
    font-family: sans-serif;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(225deg,
        var(--backViolet), 
        var(--backBlue), 
        var(--backDarkBlue), 
        var(--backBlue), 
        var(--backViolet), 
        var(--backBlue),
        var(--backDarkBlue), 
        var(--backBlue), 
        var(--backViolet)
    );
}
.drums-container {
    background-color: rgb(94, 174, 224);
    border: 3px solid rgb(0, 113, 158) ;
    width: 500px;
    height: 550px;
    border-radius: 3%;
}

.drum-pads {
    height: 200px;
    margin: 15px 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.drum-pad {
    height: 55px;
    width: 80px;
    padding: 0px 15px;
    margin: 10px 0 10px 10px;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgb(4, 223, 212);
    box-shadow: 3px 3px 5px rgb(0, 12, 117);
    border-radius: 5%;
}

.drum-letter {
    padding-top: 13px;
    color: rgb(0, 78, 245);
    font-weight: 600;
    /* text-shadow: 2px 2px 2px rgb(234, 236, 236); */
}

.drum-pad--active {
    box-shadow: 4px 4px 5px rgb(248, 80, 2);
    background-color: rgb(119, 241, 235);
    transform: scale(1.15);
    cursor: pointer;
}

.drum-pad:hover {
    cursor: pointer;
}

.clip {
    width: 10px;
    height: 10px;
    background-color: brown;
}

.switch-background {
    height: 30px;
    width: 65px;
    background-color: black;
}

.switch {
    height: 22px;
    width: 27px;
    background-color: blue;
    margin: 4px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-on, .switch-off {
    font-size: 0.75rem;
    font-family: sans-serif;
}

.switch-on {
    color: rgb(70, 250, 15);
}

.switch-off {
    color: rgb(248, 10, 10);
}

h4 {
    margin: 0
}

h2 {
    text-align: center;
    color: rgb(0, 12, 117);
}

.control-panel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 25px;
}

.info-box, .controls {
    background-color: rgb(34, 145, 214);
    height: 160px;
    width: 210px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 2%;
}

.controls {
    align-items: center;
}

.volume-slider {
    width: 180px;
}

